<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Shop</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>QuickRacing</h1>

            <a href="/" class="logout"><button>Home</button></a>

            {% if user.first_name %}
                <a href="/logout" class="logout"><button>Logout</button></a>
                <p class="welcome">Welcome,  {{ user.first_name }}</p>
            {% else %}
                <a href="/loginreg" class="logout"><button>Log In or Register</button></a>
            {% endif %}

            <h2>Your one stop shop for racing news, forums, and products!</h2>

            <h2 class="heading">Shop</h2>

            <div class="gridcontainer">
                <div class="griditem">
                    <img src="{% static 'images/pedal.jpg' %}" class="shopimage">
                    <h3 class="itemdescription">Brake Pedal</h3>
                    <p class="itemprice">$15</p>
                    <a href="/purchase" class="purchase"><button>Purchase</button></a>
                </div>
                <div class="griditem">
                    <img src="{% static 'images/tire.jpg' %}" class="shopimage">
                    <h3 class="itemdescription">Dirt Tire</h3>
                    <p class="itemprice">$65</p>
                    <a href="/purchase" class="purchase"><button>Purchase</button></a>
                </div>
                <div class="griditem">
                    <img src="{% static 'images/fuel.jpg' %}" class="shopimage">
                    <h3 class="itemdescription">Fuel</h3>
                    <p class="itemprice">$10 per Gallon</p>
                    <a href="/purchase" class="purchase"><button>Purchase</button></a>
                </div>
                <div class="griditem">
                    <img src="{% static 'images/steer.jpg' %}" class="shopimage">
                    <h3 class="itemdescription">Steering Wheel</h3>
                    <p class="itemprice">$45</p>
                    <a href="/purchase" class="purchase"><button>Purchase</button></a>
                </div>
                <div class="griditem">
                    <img src="{% static 'images/axle.jpg' %}" class="shopimage">
                    <h3 class="itemdescription">Rear Axle</h3>
                    <p class="itemprice">$200</p>
                    <a href="/purchase" class="purchase"><button>Purchase</button></a>
                </div>
                <div class="griditem">
                    <img src="{% static 'images/seat.jpg' %}" class="shopimage">
                    <h3 class="itemdescription">Seat</h3>
                    <p class="itemprice">$100</p>
                    <a href="/purchase" class="purchase"><button>Purchase</button></a>
                </div>
            </div>

        </div>
    </body>
</html>